#leftSidebar {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  border-right: 1px solid #a0a0a0;
}

.playerIcon:first-of-type {
  margin-top: 10px;
}

.playerIcon {
  height: 80px;
  width: 80px;
  border: 1px solid #a0a0a0;
  margin-bottom: 10px;
}
